<ion-content [fullscreen]="true">
  <ion-toolbar>
    <h4 class="ion-text-center">Registro de usuario</h4>
  </ion-toolbar>

  <ion-list>
    <ion-item>
      <ion-input
        [(ngModel)]="usuario.cuenta"
        label="Cuenta"
        labelPlacement="floating"
        placeholder="Ej: atorres"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        [(ngModel)]="usuario.nombre"
        label="Nombre"
        labelPlacement="floating"
        placeholder="Ej: Ana"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        [(ngModel)]="usuario.apellido"
        label="Apellido"
        labelPlacement="floating"
        placeholder="Ej: Torres"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        [(ngModel)]="usuario.correo"
        label="Correo"
        labelPlacement="floating"
        placeholder="Ej: atorres@duocuc.cl"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        [(ngModel)]="usuario.preguntaSecreta"
        label="Pregunta Secreta"
        labelPlacement="floating"
        placeholder="Ej: ¿Nombre de tu mascota?"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        [(ngModel)]="usuario.respuestaSecreta"
        label="Respuesta Secreta"
        labelPlacement="floating"
        placeholder="Ej: perro"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        [(ngModel)]="usuario.direccion"
        label="direccion"
        labelPlacement="floating"
        placeholder="Ej: av. 1223"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Educación</ion-label>
      <ion-select
        placeholder="Seleccione nivel"
        [(ngModel)]="usuario.nivelEducacional!.id"
      >
        <ion-select-option
          *ngFor="let nivelEducacional of listaNivelesEducacionales"
          [value]="nivelEducacional.id"
        >
          {{ nivelEducacional.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input
        [(ngModel)]="usuario.fechaNacimiento"
        label="Fecha de Nacimiento"
        labelPlacement="floating"
        type="date"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        [(ngModel)]="usuario.password"
        label="Contraseña"
        labelPlacement="floating"
        type="password"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        [(ngModel)]="repetirPassword"
        label="Repetir Contraseña"
        labelPlacement="floating"
        type="password"
      ></ion-input>
    </ion-item>


  </ion-list>

  <ion-card-content class="ion-text-center">
    <div>
      <ion-button shape="round" size="small" (click)="crearCuenta()">
        Crear mi nueva cuenta
      </ion-button>
    </div>
    <div>
      <a (click)="navegateIngreso()">Iniciar Sesión</a>
    </div>
  </ion-card-content>
</ion-content>
