ion-card {
  margin-top: 30px;
  text-align: center;
}

ion-input {
  margin-bottom: 10px;
}

img {
  margin: 0 auto;
  display: block;
  max-width: 800px;
}

ion-button {
  margin-top: 50px;
}

a {
  color: #3880ff;
  cursor: pointer;
}